<h3> Enroll in a course </h3>
<%= form_for(@registration) do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.collection_select :course_id, Course.all, :id, :courseName %>
  <%= f.submit "Enroll" %>
<% end %>
