/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



body {
  font-family: "Oxygen", sans-serif;
  font-weight: 200;
  width: 600px;
  margin: 0 auto;
  background: #ADDDFF;
 //background: #323299;
  //background: #FFE1AD;
}

a {
  text-decoration:none;
}

a:visited, a:link {
 color:#323299;
}

a:hover {
 color: #9EDE66;
}

.wrapper {
  width: 620px;
  height: 100px;
  margin: 0 auto;
  padding-bottom:40px;
  background: #9EDE66;
  border: 1px solid #9ede66;
  border-radius: 25px;
  margin-top:10px;
}

#mainHeader {
  color: #000000;
  text-align: center;
}

.logout {
   position: fixed;
   right: 20px;
   top: 5px;
   padding: 20px;
}

.logout a:visited, .logout a:link {
  color: white;
}
.logout a:hover {
  color: #9EDE66;
}
 

.mainBody {
  width: 580px;
  color: #FFFFFF;
}

.profilebody{
  background: #FFFFFF;
  //width: 560px;
  border: 1px solid white;
  padding: 10px;
}
 
.userphoto {
  border-radius: 50px;
}

ul {
  list-style-type:none;
}
