// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.compat {
  overflow:hidden;
  width:495px;
  margin: 0 auto; 
}

.compat li{
 float: left;
 width: 150px; 
 margin: 2px;
 padding: 7px 5px 0 5px;
 background: #9EDE66;
 text-align: center;
 border-radius: 10px;
}

.compat li a:hover {
 color:white;
}
