// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profilebody {
background: #99E699;
width: 600px;
border: 1px solid black;
}
