// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profilebody {
  background: #FFFFFF;
  width: 600px;
  border: 1px solid black;
  border-radius: 25px;
  margin: 10px 0 10px 0;
}

.userimg {
 display:inline-block;
 vertical-align: top;
 margin: 5px;
 border-radius: 25px;
}

.userinfo {
  display:inline-block;
  width: 250px;
  padding: 0px;
}
ul {
 list-style-type: none;
 padding-left: 25px;
}

